detials.txt
fff.out
fff1.out
different irradiation.pdf
different mass flow.pdf
different type of fins.pdf
different vl of NEPCM.pdf
different vl of nanofluid.pdf
different irradiation.png
different mass flow.png
different type of fins.png
different vl of NEPCM.png
different vl of nanofluid.png
different type of.pdf
different type of.png
